html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;


}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #212121;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

#bg-canvas {
    z-index: 0;
}

#fg-canvas {
    z-index: 1;
}

@font-face {
    font-family: "PixelEmulator";
    src: url("../font/pixel-emulator.otf");
}

#counter-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "PixelEmulator";
  src: url("../font/pixel-emulator.otf");
}

#my-counter {
  padding: 20px;
}

#start-over-link-container {
  padding: 20px;
}

#modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PixelEmulator";
  src: url("../font/pixel-emulator.otf");
  font-size: 45px;
}

.link {
  color: white;
  text-decoration: none;
};

.background {
  color: black;

}
